* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #ffffff;
    box-sizing: border-box;

    /* font-family: 'Playfair Display', serif; */
}

section {
    width: 100%;
    height: 100vh;
    font-family: 'Playfair Display', serif;
}

form {
    /* background: rgba(27,31,34,0.6); */
    width: 640px;
    max-width: 95%;
    max-height: 100vh;
    margin: auto;
    border-radius: 5px;
    padding: 55px 30px;
}

form .title h1 {
    font-weight: normal;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 6px; 
    margin-bottom: 30px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

form .half .item input {
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 16px;
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
    width: 100%;
    max-height: 200px;
    padding: 12px 16px;
    font-size: 16px;
    resize: none;
}

form .action{
    margin-bottom: 32px;
}
  
form .action input{
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 14px;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"] {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
  
form .action input[type="submit"]:hover {
    background: white;
    color: black;
}

#status.success {
    background-color:rgb(60, 184, 120);
    border: 0;
    animation: status 4s ease delay forwards;
}

#status.error {
    background-color: rgb(241, 79, 93);
    border: 0;
    animation: status 4s ease forwards;
}

@keyframes status {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    90% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.navbar-links ul{
    display: flex;
}

.navbar-links li {
    list-style: none;
    margin: 12px 6px;
    font-weight: 500;
    font-size: 16px;

}

.navbar-links li a:hover {
    background-color: #ffffff;
    color: #262626;
}

.logo {
    padding-top: 12px;
    float: left;
}

.toggle-button {
    border: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background-color: #262626;
}

.toggle-button .bar {
    height: 4px;
    width: 100%;
    background: #ffffff;
    border-radius: 20px;
}

.cta-button {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}

.cta-button:hover {
    color: #262626;
    background-color: #ffffff;
}

#navbar .logo a, .navbar-links li a{
    display: block;
    text-align: center;
    padding: 8px 15px;
    color:#ffffff;
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    border-radius: 30px;
}

#navbar {
    display: flex;
    position: absolute;
    left:0;
    right:0;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#landing {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #262626;
}

#landing #particles-js {
    width: 100%;
    height: 100vh;
}

#landing #landing-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#about {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #363636;
}

#projects {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #464646;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: #262626;
    box-sizing: border-box;
}

footer {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: #666666;

}

@media screen and (max-width: 600px) {
    .logo, 
    .navbar-links li {
        float: none;
    }

    .navbar-links {
        padding: 0;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
        background: rgba(27,31,34,0.50);
    }

    #navbar .logo a {
        padding: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        margin: 3px 2px;
    
    }
    .navbar-links li a{
        padding: 3px 20px;
    
    }

    .navbar-links li:last-child {
        padding-bottom: 12px;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: flex;
        
    }
}

@media (max-width: 500px){

    form {
        padding: 25px 15px;
    }

    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;
    }

    form .half .item input {
        padding: 12px;
        width: 100%;
        height: 32px;
        background: transparent;
        font-size: 14px;
    }

    form .full textarea {
        max-height: 275px;

    }

    form label {
        font-size: 12px;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }
  }