* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    color: #ffffff;
    box-sizing: border-box;

    /* font-family: 'Playfair Display', serif; */
    /* font-family: 'Montserrat', sans-serif; */
}

section {
    width: 100%;
    font-family: 'Playfair Display', serif;
    min-height: 0;
}



/* NAV BAR  */

#navbar {
    display: flex;
    position: fixed;
    left:0;
    right:0;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    z-index: 3;
    transition: 0.75s ease-out;
}

.logo {
    padding-top: 10px;
    float: left;
    font-size: clamp(10px, 1.4vw, 16px);
    line-height: 0;
}

.toggle-button {
    border: 0;
    position: absolute;
    top: 15px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: clamp(18px, 1.4vw, 30px);
    height: clamp(14px, 1.4vw, 20px);
    background-color: #262626;
}

.toggle-button .bar {
    height: 1px;
    width:90%;
    background: #ffffff;
}

.navbar-links ul{
    display: flex;
}

.navbar-links li {
    list-style: none;
    margin: 10px 6px;
    font-weight: 500;
    font-size: clamp(10px, 1.4vw, 16px);

}

.navbar-links li a:hover {
    background-color: #ffffff;
    color: #262626;
}

#navbar .logo a, .navbar-links li a{
    display: block;
    text-align: center;
    padding: 8px 15px;
    color:#ffffff;
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    border: none;
}



/* LANDING PAGE  */

#landing {
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #262626;
    height: 100vh;
}

#landing-text {
    margin-bottom: 3%;
}

#landing #particles-js {
    width: 100%;
    height: 100vh;
}

#landing #landing-col1{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%,-50%);
    text-align: left;
    white-space: nowrap;
}

#landing #landing-col2{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(0%,-50%);
    text-align: left;
}

#t1 {
    font-size: clamp(14px, 1.4vw, 20px);
}

#t2 {
    font-size: clamp(36px, 3.5vw, 54px);
}

#t3 {
    font-size: clamp(48px, 4.5vw, 64px);
}

/* call to action button */
.cta-button {
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5% 3%;
    font-size: clamp(10px, 1.4vw, 14px);
    letter-spacing: 1.5px; 
}

.cta-button:hover {
    color: #262626;
    background-color: #ffffff;
}

#landing #landing-logo {
    font-size: clamp(200px, 20vw, 400px);
    font-weight: 400;
}

#landing #landing-line-height {
    line-height: 0.95;
}

.scroll-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.7;
}

.mouse-indicator {
    display: flex;
    width: 20px;
    height: 30px;
    border: 2px solid white;
    border-radius: 15px;
}

.mouse-indicator span {
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    margin: auto;
    animation: move-mouse-wheel 1s linear infinite;
}

.arrow-indicator span {
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid transparent;
    border-right-color: white;
    border-bottom-color: white;
    transform: rotate(45deg);
    animation: blink-arrow 0.5s alternate infinite;
}

@keyframes move-mouse-wheel {
    0% {
        opacity: 0;
        transform: translateY(-7px);
    }
    100% {
        opacity: 0.8;
        transform: translateY(7px);
    }
}

@keyframes blink-arrow {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 0.8;
    }
}

/* ABOUT PAGE */

#about {
    position: relative;
    text-align: left;
    background: #262626;
    height: fit-content;
    min-height: 100vh;
    max-height: fit-content;
}

#about .title {
    padding-top: 8%;
    text-align: center;
    font-size: clamp(32px, 3vw, 48px);
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 1px;
}

#about .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5%;
    padding-bottom: 70px;
}
#about .about-text {
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    padding: 4% 3%;
    font-size: clamp(10px, 1.2vw, 16px);
    letter-spacing: 0.8px;
    line-height: 1.5;
    font-weight: 300;
    height: fit-content;
}

.skills-container {
    justify-content: space-between;
    text-align: center;
    height: 50vh;
    width: 50%;
    padding: 4% 2%;
    height: fit-content;
}

.skill {
    display: inline-block;
    font-family: 'Montserrat', sans-serif; 
    font-size: clamp(10px, 1.2vw, 16px);
    border: 1px solid white;
    padding: 5px 16px;
    margin: 8px;
    text-align: center;
    letter-spacing: 1px;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}

.skill:hover {
    cursor: pointer;
    color: #262626;
    background-color: white;
}

.about-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.about-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.about-divider .shape-fill {
    fill: #363636;
}

#resume-download {
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
    transition-timing-function: ease-in-out;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5% 3%;
    font-size: clamp(9px, 1.1vw, 12px);
    letter-spacing: 1.2px; 
    font-weight: 500;
}

#resume-download:hover {
    cursor: pointer;
    color: #262626;
    background-color: white;
}

#scroll-projects {
    position: absolute;
    bottom: 5%;
    left: 49.5%;
    z-index: 2;
}


/* PROJECTS PAGE */

#projects {
    text-align: center;
    background: #363636;
    height: fit-content;
    min-height: 100vh;
    max-height: fit-content;
    overflow: auto;
}

#projects .title {
    padding-top: 8%;
    text-align: center;
    font-size: clamp(32px, 3vw, 48px);
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 1px;
    margin-bottom: 2%;
}

.featured-project-list {
    list-style-type: none;
    margin: 0 10%;
    padding: 0;
}

.featured-project-li{
    /* border: 1px dashed orange; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin: auto;
    padding: 30px 20px;
}

.project-content {
    position: relative;
    grid-area: 1 / 6 / -1 / -1;
    text-align: right;
    z-index: 2;
    margin: 20px 0px;
}

.overline {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
}

.project-title {
    font-size: 24px;
    margin: 5px 0px 15px 0px;
    line-height: 0.9;
    letter-spacing: 2px;
    font-weight: 600;
}

.project-description {
    font-family: 'Montserrat', sans-serif;
    /* border: 1px white solid; */
    background-color: rgb(38, 38, 38, 0.8);
    box-shadow: 3px 3px 3px rgb(38, 38, 38);
    padding: 20px 14px;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}

.project-description:hover {
    transform: translate(-5px,-5px);
    background-color: rgb(38, 38, 38);
    box-shadow: 5px 5px 5px rgb(38, 38, 38);
}

.tech-list {
    list-style-type: none;
    margin: 15px 0px;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.tech-list li {
    display: inline;
    border: 1px solid white;
    background: white;
    padding: 4px 8px;
    font-size: 12px;
    margin: 0px 3px;
    color:#363636;
    cursor: pointer;
    white-space: nowrap;
}

.project-links img {
    height: 28px;
    width: 28px;
    transition: 0.3s ease-in-out;
}

.project-links img:hover {
    transform: translateY(-5px);
}

.project-image {
    grid-area: 1 / 1 / -1 / 7;
    position: relative;
    z-index: 1;
}

.project-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-image2 {
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
}

.project-image2 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-content2 {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
    text-align: left;
    z-index: 2;
    margin: 20px 0px;
}

.project-description2 {
    font-family: 'Montserrat', sans-serif;
    /* border: 1px white solid; */
    background-color: rgb(38, 38, 38, 0.8);
    box-shadow: -3px 3px 3px rgb(38, 38, 38);
    padding: 20px 14px;
    line-height: 1.5;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}

.project-description2:hover {
    transform: translate(5px,-5px);
    background-color: rgb(38, 38, 38);
    box-shadow: -5px 5px 5px rgb(38, 38, 38);
}


/* CONTACT PAGE */
#contact {
    display: block;
    justify-content: center;
    align-items: center;
    background: #262626;
    box-sizing: border-box;
    min-height: 100vh;
    max-height: fit-content;
}

#contact .title{
    font-family: 'Playfair Display', serif;
    padding-top: 8%;
    font-size: clamp(32px, 3vw, 48px);
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 6px; 
    margin-bottom: 30px;

}

/* FORM ON CONTACT PAGE */

form {
    font-family: 'Montserrat', sans-serif;
    width: 640px;
    max-width: 95%;
    max-height: fit-content;
    margin: auto;
    overflow-y: auto;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 14px;
    letter-spacing: 3px;
    margin-bottom: 14px;
}

form .half .item input {
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 36px;
    background: transparent;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border: 1px solid white;
    outline: 0;
    width: 100%;
    max-height: 200px;
    padding: 12px 16px;
    font-size: 14px;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}

form .action{
    margin-bottom: 32px;
}
  
form .action input{
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    font-size: 14px;
    height: 36px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"] {
    transition: 0.3s;
    transition-timing-function: ease-in-out;
}
  
form .action input[type="submit"]:hover {
    background: white;
    color: black;
}

.email-wrapper {
    position: fixed;
    bottom: 20px;
    right: 3%;
}

.email-wrapper a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    writing-mode: vertical-lr;
    transition: 0.3s ease-in-out;
    padding-bottom: 2px;
    font-family: 'Montserrat', sans-serif; 
}

.email-wrapper a:hover {
    padding-bottom: 12px;
}

.email-wrapper::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: white;
}

.social-wrapper ul {
    list-style-type: none;
    padding-bottom: 6px;
    text-align: center;
}

.social-wrapper {
    position: fixed;
    bottom: 20px;
    left: 2%;
}

.social-wrapper li img{
    height: 28px;
    width: 28px;
    margin: 6px;
    transition: 0.3s ease-in-out;
}

.social-wrapper li img:hover{
    transform: translateY(-5px);
}


.social-wrapper::after {
    content: "";
    display: block;
    width: 1px;
    height: 100px;
    margin: 0px auto;
    background-color: white;
}

footer {
    display: none;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background: black;
    height: 60px;
    padding: 5px;
}

footer ul {
    margin: 6px;
}

footer a {
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}

footer a:hover{
    font-weight: bold;
}

footer li {
    display: inline;
    margin: 0px 3px;
}

footer li img{
    display: inline;
    width: 22px;
    height: 22px;
}

footer li img:hover{
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
}


/* media queries for nav bar */
@media screen and (max-width: 600px) {

    .logo {
        margin: 14px 0px 20px 0px;
    }

    .logo, .navbar-links li {
        float: none;
    }

    .navbar-links {
        padding: 0;
    }

    #navbar {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    #navbar .logo a {
        padding: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li{
        margin: 3px 2px;
    }

    .navbar-links li a{
        padding: 3px 20px;
    }

    .navbar-links li:last-child {
        padding-bottom: 12px;
    }
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
    }

    .x-toggle {
        display: none;
        height: 20px;
        width: 20px;
    }

    .navbar-links.active {
        display: flex;
    }

    .x-toggle.active {
        display: block;
    }

}


/* media queries for about page */
@media screen and (max-width: 567px) {
    #about .title {
        padding-top: 18%;
    }
    .skills-container {
        width: 100%;
    }

    #about .about-text {
        width: 100%;
        text-align: center;
    }

    #about .about-content {
        display: block;
    }
}
    


/* media queries for landing page */

@media screen and (max-width: 767px) {
    #landing #landing-col2{
        display: none;
    }

    #landing #landing-col1{
        left: 50%;
        transform: translate(-50%,-50%);
        line-height: 1.5; 
    }

    #landing-text {
        margin-bottom: 2%;
    }

    .email-wrapper {
        display: none;
    }
    .social-wrapper {
        display: none;
    }

    footer {
        display: block;
    }

}

@media screen and (max-width: 475px) {
    #landing #landing-col1{
        white-space: normal;
    }
    #landing-text {
        margin-bottom: 12px;
    }

}

/* media queries for projects page */
@media screen and (max-width: 800px) {
    .project-content {
        grid-area: 1 / 1 / -1 / -1;
        text-align: left;
        background: rgb(38, 38, 38, 0.7);
        margin: 0;
        padding: 15px;
    }
    
    .project-image {
        grid-area: 1 / 1 / -1 / -1;
    }

    .project-content2 {
        grid-area: 1 / 1 / -1 / -1;
        background: rgb(38, 38, 38, 0.7);
        margin: 0;
        padding: 15px;
    }
    
    .project-image2 {
        grid-area: 1 / 1 / -1 / -1;
    }

    .tech-list {
        line-height: 2;
    }

    .tech-list li {
        margin: 10px 3px;
    }

}

/* media queries for contact page */

@media screen and (max-width: 500px){

    form {
        padding: 25px 15px;
    }

    form .half{
      flex-direction: column;
    }
    form .half .item{
      width: 100%;
    }
    form .action{
      display: flex;
      flex-direction: column;
    }
    form .action input{
      margin-bottom: 10px;
      width: 100%;
    }

    form .half .item input {
        padding: 12px;
        width: 100%;
        height: 32px;
        background: transparent;
        font-size: 14px;
    }

    form .full textarea {
        max-height: 275px;

    }

    form label {
        font-size: 12px;
        letter-spacing: 3px;
        margin-bottom: 10px;
    }
  }